body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #070707;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 320px;
    background-color: #070707;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.display {
    background-color: #1f4796;
    color: #ffffff;
    font-size: 2.5rem;
    padding: 20px;
    text-align: right;
    border-bottom: 1px solid #ccc;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn {
    background-color: #e6a8a8;
    border: none;
    padding: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #dcdcdc;
}

.operator {
    background-color: #89b92b;
    color: #ffffff;
}

.operator:hover {
    background-color: #e08b00;
}

.equal {
    background-color: #f40b0b;
    color: #ffffff;
    grid-column: span 2;
}

.equal:hover {
    background-color: #45a049;
}